.card {
  position: relative;
  border: 1px solid black;
  cursor: pointer;
  width: 7.3vw;
  height: 9.8vw;
  border-radius: 0.3vw;
}

.card__content {
  font-size: 1.4rem;
}

.card__rank-left {
  text-align: left;
  margin-left: 0.2vw;
}

.card__rank-right {
  text-align: left;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0vw;
  right: 0;
  margin-right: 0.4vw;
}

.card__suite-left {
  text-align: left;
  margin-left: 0.2vw;
}

.card__suite-right {
  text-align: left;
  transform: rotate(180deg);
  position: relative;
  position: absolute;
  bottom: 1.3vw;
  right: 0;
  margin-right: 0.4vw;
}

.card__suite {
  text-align: center;
}

.card__down {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/card_back.png");
  text-decoration: transparent;
  margin-bottom: -8.5vw;
}

.card__down > .card__content {
  visibility: hidden;
}

.card__selected {
  box-shadow: 10px 10px 12px black !important;
  border: 2px solid black;
  transform: scale(1.1);
}

.card__remcards {
  position: relative;
  border: 1px solid black;
  cursor: pointer;
  width: 7.3vw;
  height: 9.8vw;
  border-radius: 0.3vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/card_back.png");
  text-decoration: transparent;
  margin-left: -8.5vw;
}
.card__complatedcards {
  position: relative;
  border: 1px solid black;
  cursor: pointer;

  height: 9.8vw;
  border-radius: 0.3vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/card_back.png");
  text-decoration: transparent;
  margin-right: -8.5vw;

  width: 7.3vw;
}

.card__stack {
  margin-bottom: -7vw;
  transition: all 2s smooth;
}

.card:hover {
  box-shadow: 8px 8px 10px rgb(247, 210, 0);
}

.card__highlighted {
  box-shadow: 5px 5px 10px red !important;
  border: 2px solid red;
}
.card__highlighted_green {
  box-shadow: 5px 5px 10px green !important;
  border: 2px solid green;
}

.spade {
  background: url("../../assets/spade.png") #ffffff;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
