.game-wrapper {
  height: 100%;
  background: url("/assets/board-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



.onesuite {
  display: flex;
  padding: 30px 0px;
  flex-direction: row;
  justify-content: space-around;
}

.game-bottom {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0px 2vw;
  bottom: 2vh;
  box-sizing: border-box;
}
